@inherits Umbraco.Web.Mvc.UmbracoViewPage <Graph.Components.TilesBlock.GridControlNewsTile>

<div class="tile tile_@Model.Size.Value tile_@Model.Theme.Value">
	<div class="tile__media">
		@if (Model.Image != null)
		{
			<img src="@Model.Image" class="tile__img" />
		}
	</div>
	<div class="tile__content">
		<h4 class="tile__title">
			@if (Model.Link != null)
			{
				<a class="tile__link" href="@Model.Link">@Model.Title</a>
			}
			else 
			{
				<span>@Model.Title</span>
			}
		</h4>

		@if (!string.IsNullOrEmpty(@Model.Description))
		{
			<div class="tile__summary">@Model.Description</div> 
		}

		@if (Model.Date != null)
		{
			<div class="tile__date">@Model.Date</div>
		}

		@if (Model.Link != null && Model.ShowButton)
		{
			<div class="tile__button">@Model.Title</div>
		}
	</div>
</div>
